#jinja2: trim_blocks:False
{%- for variable_name, value in django_environment.items() %}
export {{ variable_name }}={{ value }}
{%- endfor %}
{%- for variable_name, value in app_environment.items() %}
export {{ variable_name }}={{ value }}
{%- endfor %}
