#jinja2: trim_blocks:False
[program:{{ app_name }}_gunicorn]
command={{ app_virtualenv_dir }}/bin/gunicorn -c {{ gunicorn_configuration_file }} {{ gunicorn_settings_module }}
user={{ app_user }}
directory={{ app_root_dir }}
environment=
  USER="{{ app_user }}",
{%- for variable_name, value in gunicorn_environment.items() %}
  {{ variable_name }}="{{ value }}"{% if not loop.last %},{% endif %}
{%- endfor %}
autostart=true
autorestart=true
stderr_logfile={{ app_log_dir }}/gunicorn_err.log
stdout_logfile={{ app_log_dir }}/gunicorn_out.log
killasgroup=true
stopasgroup=true
